<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SEIFA National</key>
	<dict>
		<key>measurement</key>
		<string>SEIFA Score</string>
		<key>source</key>
		<string>ABS 2033.0.55.001</string>
		<key>url</key>
		<string>http://www.abs.gov.au/ausstats/abs@.nsf/Lookup/2033.0.55.001main+features100132011</string>
		<key>icon</key>
		<string>CrimeIcon</string>
	</dict>
	<key>INCOME</key>
	<dict>
		<key>measurement</key>
		<string>Taxable income 2012-13</string>
		<key>source</key>
		<string>Australian Taxation Office</string>
		<key>url</key>
		<string>http://www.data.gov.au/dataset/taxation-statistics-2012-13/resource/fc53a0c8-25e7-4024-b609-438a30b8d807</string>
		<key>icon</key>
		<string>IncomeIcon</string>
	</dict>
	<key>Diversity</key>
	<dict>
		<key>measurement</key>
		<string>Number of languages</string>
		<key>source</key>
		<string>ABS: B13 Language Spoken at Home by Sex</string>
		<key>url</key>
		<string>http://stat.abs.gov.au/Index.aspx?DataSetCode=ABS_CENSUS2011_B13_LGA</string>
		<key>isLga</key>
		<true/>
		<key>icon</key>
		<string>DiversityIcon</string>
	</dict>
	<key>Age</key>
	<dict>
		<key>measurement</key>
		<string>Years</string>
		<key>source</key>
		<string>ABS: Median Ages</string>
		<key>url</key>
		<string>http://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/3235.02013?OpenDocument</string>
		<key>isLga</key>
		<true/>
		<key>icon</key>
		<string>AirIcon</string>
	</dict>
	<key>Safety</key>
	<dict>
		<key>measurement</key>
		<string>Crime</string>
		<key>source</key>
		<string>Burglary ACT data from March-June 2014.</string>
		<key>url</key>
		<string>http://egovau.blogspot.com.au/2014/08/act-crime-stats-data-ready-for-people.html</string>
		<key>isLga</key>
		<false/>
		<key>icon</key>
		<string>CrimeIcon</string>
	</dict>
	<key>NBN Internet</key>
	<dict>
		<key>measurement</key>
		<string>Availability of NBN High Speed broadband.</string>
		<key>source</key>
		<string>Overall Fixed Broadband Availability</string>
		<key>url</key>
		<string>https://www.mybroadband.communications.gov.au</string>
		<key>isLga</key>
		<false/>
		<key>icon</key>
		<string>AirIcon</string>
	</dict>
</dict>
</plist>
